<div class="top_green">
  交通违章查询
</div>
<div class="form" style="margin-bottom: 35px;">
  <% session_content = get_session_content params[:session_content_id]

     session_content = session_content[:query] || {}
  %>
  <%= form_tag('/wz/weizhang/chaxun/result', id: 'chaxun', method: 'post') do %>
      <ul>
        <li>
          <label>车牌号：</label>
          <%= text_field_tag "query[car_number]", get_show_value(@car_number, v2: session[:car_number], v1: session_content[:car_number]), class: "form_ipt", placeholder: "请输入车牌号" %>
        </li>

        <li style="position: relative">
          <label style="padding-right: 2px">发动机号：</label>
          <%= text_field_tag "query[engine_no]", get_show_value('', v2: session[:engine_no], v1: session_content[:engine_no]), class: "form_ipt", placeholder: '请输入完整发动机号' %>
        </li>

        <li>
          <label>车架号：</label>
          <%= text_field_tag "query[vin_no]", get_show_value('', v2: session[:vin_no], v1: session_content[:vin_no]), class: "form_ipt", placeholder: '请输入完整车架号' %>
        </li>

        <li style="border-bottom: none">
          <label>手机号：</label>
          <%= text_field_tag "query[phone]", get_show_value('', v1: session_content[:phone], v2: session[:phone]), class: "form_ipt", placeholder: "请输入手机号" %>

        </li>
      </ul>
      <% if has_notice? %>
          <div class="error" style="padding-left: 30px; margin-bottom:1px; padding-top: 15px;">
            <p style="color:#ff0000"><%= get_notice_str true %></p>
          </div>
      <% end %>
      <div style="padding-left: 30px; height: 35px; margin-bottom: 5px; line-height: 35px; ">
        <span class="description">为了给您提供更好的服务，请正确填写。</span>
      </div>
      <div class="tc submit">
        <%= submit_tag "立即查询" %>
      </div>
  <% end %>
</div>

<% if @product.comments.length > 0%>
    <div class="comments_block">
      <div class="split-line">
        用户反馈
      </div>
      <div class="comments">
        <%@product.comments.each do |comment|%>
            <div class="comment">
              <div class="title">
                <img src="/images/<%= if comment.sex == 1 then 'nantouxiang.png' else 'nvtouxiang.jpg' end %>"/>
                &nbsp;&nbsp;<%= comment.city %>用户：<%= comment.phone %>
              </div>
              <div class="content"><%= comment.content %></div>
            </div>
        <%end%>
      </div>
    </div>
<%end%>