<div class="row">

</div>
<%= form_tag("/cms/employee_validate/functions/modify_password", method: :post) do %>
    <div class="row">
      <div class="small-2 columns">
        <label for="right-label" class="right inline">原密码</label>
      </div>
      <div class="small-6 columns">
        <%= text_field_tag :old_password %>
      </div>
      <div class="small-4 columns"></div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="right-label" class="right inline">新密码</label>
      </div>
      <div class="small-6 columns">
        <%= text_field_tag :new_password %>
      </div>
      <div class="small-4 columns"></div>
    </div>
    <div class="row">
      <div class="small-2 columns">
        <label for="right-label" class="right inline">新密码确认</label>
      </div>
      <div class="small-6 columns">
        <%= text_field_tag :new_password_confirmation %>
      </div>
      <div class="small-4 columns"></div>
    </div>
    <div class="row">
      <div class="small-6 small-offset-2 columns">
        <%= submit_tag '提交',class: 'button' %>
      </div>
      <div class="small-4 columns"></div>
    </div>
<% end %>