<% error_hash = get_notice_hash %>
<h1>更新功能信息</h1>
<div class="row">
  <div class="large-6 columns">
    <%= form_tag("/cms/employee_validate/functions", method: :post) do %>

        <div class="row">
          <div class="large-3 columns">
            <label class="text-right inline">名称</label>
          </div>
          <div class="large-9 columns">
            <%= text_field_tag "function[title]"%><%= error_hash[:title] %>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <label class="text-right inline">描述信息</label>
          </div>
          <div class="large-9 columns">
            <%= text_field_tag "function[description]"%><%= error_hash[:description] %>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <label class="text-right inline">链接</label>
          </div>
          <div class="large-9 columns">
            <%= text_field_tag "function[page_url]"%><%= error_hash[:page_url] %>
          </div>
        </div>

        <div class="row">
          <div class="large-3 columns">
            <label class="text-right inline">父节点</label>
          </div>
          <div class="large-9 columns">
            <%=
                select_tag "function[parent_id]",
                           options_from_collection_for_select(@parents, "id", "title"),
                           include_blank: true
            %>
          </div>
        </div>
        <input class="button" name="commit" type="submit" value="提交">
    <% end %>
  </div>
</div>