<div class="top_green">
  最透明车险比价
</div>
<div class="form" style="margin-bottom: 35px;">
  <%= form_tag(search_price_wz_order_system_products_path, id: 'compare_price_form', method: 'post') do %>
      <ul>
        <li style="position: relative">
          <label>车 价：</label>
          <%= text_field_tag :car_price, @car_price, class: "form_ipt", placeholder: '请输入金额' %>
          <span class="unit">万元</span>
        </li>
        <li>
          <label>所在地：</label>
          <%= text_field_tag :city, @city, class: "form_ipt", :onClick => "javascript:get_city_name()" %>
        </li>
        <li>
          <label>车牌号：</label>
          <%= text_field_tag :car_number, get_show_value('', v2: @car_number, v1: session[:car_number]), class: "form_ipt", placeholder: "" %>
        </li>
        <li style="">
          <label>手机号：</label>
          <%= text_field_tag :phone, get_show_value('', v1: @phone, v2: session[:phone]), class: "form_ipt", placeholder: "请输入手机号" %>

          <%= hidden_field_tag :ip, @ip %>
        </li>
        <li style="position: relative; border-bottom: none">
          <label>保险购买月份：</label>
          <%= select_tag :month, options_for_select((1..12).collect{|m|["#{m}月", m]}), class: "form_ipt" %>
        </li>
      </ul>
      <div class="error">
        <% unless @error_message.blank? %>
            <p style="color:#ff0000"><%= @error_message %></p>
        <% end %>
      </div>
      <div class="tc submit">
        <%= submit_tag "立即比价", onclick: "javascript:compare_price(); return false;" %>
      </div>
  <% end %>
</div>

<script language="javascript">
    function get_city_name() {
        $("#compare_price_form").attr('action', '/wz/order_system/products/get_city_name');
        $("#compare_price_form").submit();
    }
    function compare_price() {
        $("#compare_price_form").attr('action', '<%= search_price_wz_order_system_products_path %>');
        $("#compare_price_form").submit();
    }
</script>

<div class="query-lst">
  <span style="font-size: 15px;">查询示例</span> <span style="font-size: 12px; font-style:italic;">比比更优惠</span>
  <ul>
    <li><em>1</em><span class="name">平安保险</span><span class="price">7276 <span class="yuan">元</span></span></li>
    <li><em>2</em><span class="name">太平洋保险</span><span class="price">7323 <span class="yuan">元</span></span></li>
    <li><em>3</em><span class="name">安盛天平网络保险</span><span class="price">7428 <span class="yuan">元</span></span></li>
    <li><em>4</em><span class="name">阳光车险</span><span class="price">7430 <span class="yuan">元</span> </span></li>
    <li><em>5</em><span class="name">大地车险</span><span class="price">7500 <span class="yuan">元</span></span></li>
    <li><em>6</em><span class="name">人保车险</span><span class="price">7576 <span class="yuan">元</span></span></li>
  </ul>
</div>
<% if @product.comments.length > 0%>
    <div class="comments_block">
      <div class="split-line">
        用户反馈
      </div>
      <div class="comments">
        <%@product.comments.each do |comment|%>
            <div class="comment">
              <div class="title">
                <img src="/images/<%= if comment.sex == 1 then 'nantouxiang.png' else 'nvtouxiang.jpg' end %>"/>
                &nbsp;&nbsp;<%= comment.city %>用户：<%= comment.phone %>
              </div>
              <div class="content"><%= comment.content %></div>
            </div>
        <%end%>
      </div>
    </div>
    <div style="height: 20px"></div>
<%end%>