<% session_content = get_session_content(params[:session_content_id]) %>

<div class="row">
  <div class="columns small-2 text-right">
    <label class="inline text-right">show_name</label>
  </div>
  <div class="columns small-3 end">
    <%= text_field_tag :show_name, get_show_value(@template.show_name, v1:session_content[:show_name]) %>
  </div>
</div>
<div class="row">
  <div class="columns small-2 text-right">
    <label class="inline text-right">real_name</label>
  </div>
  <div class="columns small-3 end">
    <%= text_field_tag :real_name, get_show_value(@template.real_name, v1:session_content[:real_name]) %>
  </div>
</div>
<div class="row">
  <div class="columns small-2 text-right">
    <label class="inline text-right">选择产品</label>
  </div>
  <div class="columns small-10">
    <% @products.each do |product| %>
        <div class="row">
          <div class="columns small-1 text-right">
            <label class="inline"><%= check_box_tag "products[#{product.id}][select]", '1', get_show_value((@template.products.include?(product) ? '1':''), v1:(session_content[:products][product.id.to_s.to_sym][:select] rescue '')) == '1' %></label>
          </div>
          <div class="columns small-2 text-left">
            <label class="inline"><%= product.name %></label>
          </div>
          <div class="columns small-1">
            <label class="inline text-right">排序号:</label>
          </div>
          <div class="columns small-2">
            <%= text_field_tag "products[#{product.id}][sort_by]", get_show_value((@template.templates_products.where(product_id: product.id).first.sort_by rescue ''), v1:(session_content[:products][product.id.to_s.to_sym][:sort_by] rescue ''))  %>
          </div>
          <div class="columns small-1 text-right">
            <label class="inline"><%= check_box_tag "products[#{product.id}][online]", '1', get_show_value(((@template.templates_products.where(product_id: product.id).first.online ? '1':'') rescue ''), v1:(session_content[:products][product.id.to_s.to_sym][:online] rescue '')) == '1'   %></label>
          </div>
          <div class="columns small-2 text-left end">
            <label class="inline text-left">是否上线</label>
          </div>
          <div class="row">
            <div class="columns small-1 text-right">
              <label class="inline">封面</label>
            </div>
            <div class="columns small-2">
              <div class="small-12 columns" style="position: relative">
                <input class="fake diff" type="text" value="<%= ::OrderSystem::TemplatesProducts.where(product_id: product.id, template_id: @template.id).first.cover_image rescue '' %>" disabled="disabled" style="background-color: white" name="txt_image_<%= product.id.to_s %>"/>
                <label class="upload diff" name="file"></label>
                <input class="file diff" type="file" name="products[<%= product.id.to_s %>][cover_image]" onchange="txt_image_<%= product.id.to_s %>.value=this.value"/>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="columns small-2 text-right end">
    <%= submit_tag '保存', class: 'button tiny' %>
  </div>
</div>


<style>
    .diff {
        position: absolute;
    }
    .fake.diff{
        background-color:white;
        width:150px;
        disabled:disabled;
        z-index: 0
    }
    .upload.diff{
        color: #000;
        top:10px;
        left:170px;
        z-index: 0
    }
    .file.diff{
        opacity:0;
        width:200px;
        height: 27px;
        z-index: 1
    }
</style>