<h3>模板</h3>
<%= link_to '创建', '/cms/order_system/templates/new', class: 'button tiny' %>
<%= will_paginate @collection, renderer: FoundationPagination::Rails %>
<table>
  <thead>
    <th>show_name</th>
    <th>real_name</th>
    <th>产品名称</th>
    <th>封面</th>
    <th>排序号</th>
    <th>是否上线</th>
    <th>操作</th>
  </thead>
  <tbody>
    <% @templates.each do |template| %>
        <% t_ps = template.templates_products %>
        <% product_num = template.templates_products.count rescue 1 %>
        <tr>
          <td rowspan="<%= product_num %>"><%= template.show_name %></td>
          <td rowspan="<%= product_num %>"><%= template.real_name %></td>

          <% t_p = t_ps.first  %>
          <td><%= t_p.product.name rescue '' %></td>
          <td><%= image_tag(t_p.cover_image.blank? ? '未上传' : "/uploads/images/#{t_p.cover_image}", height: '32', width: '32') rescue '' %></td>
          <td><%= t_p.sort_by rescue '' %></td>
          <td><%= t_p.online == true ? "是" : "否" rescue '' %></td>

          <td rowspan="<%= product_num %>"><%= link_to '编辑', "/cms/order_system/templates/#{template.id}/edit" %></td>
        </tr>
        <% t_ps.each_with_index do |t_p, index| %>
        <% next if index == 0 %>
        <tr>
          <td><%= t_p.product.name rescue '' %></td>
          <td><%= image_tag(t_p.cover_image.blank? ? '未上传' : "/uploads/images/#{t_p.cover_image}", height: '32', width: '32') rescue '' %></td>
          <td><%= t_p.sort_by rescue '' %></td>
          <td><%= t_p.online == true ? "是" : "否" rescue '' %></td>
        </tr>
        <% end %>
    <% end unless @templates.blank? %>
  </tbody>
</table>
<%= will_paginate @collection, renderer: FoundationPagination::Rails %>

<style>
    table{border-collapse:collapse;border-spacing:0;border-left:1px solid #888;border-top:1px solid #888;background:#efefef;}
    th,td{border-right:1px solid #888;border-bottom:1px solid #888;padding:5px 15px;}
    th{font-weight:bold;background:#ccc;}
</style>