<div class="row">
  <div class="small-12 text-right">
    <%= link_to '创建产品', '/cms/order_system/products/new', class: 'button tiny' %>
  </div>
</div>
<table>
  <thead>
    <th>产品名称</th><th>描述</th><th>url</th><th>封面图</th><th>详情图</th><th>是否上线</th><th>排序号</th><th>APP名称</th><th>操作</th>
  </thead>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= eval(product.description).join('/') rescue '' %></td>
      <td><%= product.url %></td>
      <td><%= image_tag product.cover_image.blank? ? '未上传' : "/uploads/images/#{product.cover_image}" %></td>
      <td><%= image_tag product.detail_image.blank? ? '未上传' : "/uploads/images/#{product.detail_image}" %></td>
      <td><%= product.online? ? "已上线" : "未上线"  %></td>
      <td><%= product.sort_by rescue '' %></td>
      <td><%= product.app_name rescue '' %></td>
      <td>
        <%= link_to '编辑', "/cms/order_system/products/#{product.id}/edit" %>
        <%= link_to '评论', "/cms/order_system/comments?product_id=#{product.id}" %>
      </td>
    </tr>
  <% end %>
</table>