<div class="big_image">
    <%= image_tag 'dwz/haoche_stat/promation/join_us/woshou.jpg', style: "width: 100%" %>
  </div>
  <div class="middle1">
    <div class="area">
        <%= image_tag 'dwz/haoche_stat/promation/join_us/quanguoditu.gif', class: 'image' %>
        <div class="text">
          <div class="title">全国资源</div>
          <div class="content">
            产品、服务持续扩充，业务覆盖全国
          </div>
        </div>
    </div>

    <div class="area">
      <%= image_tag 'dwz/haoche_stat/promation/join_us/qian.gif', class: 'image' %>
      <div class="text">
        <div class="title">结算保障</div>
        <div class="content">
          所有业务均经严格审核，确保按时结算
        </div>
      </div>
    </div>

    <div class="area">
      <%= image_tag 'dwz/haoche_stat/promation/join_us/diannao.gif', class: 'image' %>
      <div class="text">
        <div class="title">多屏互动</div>
        <div class="content">
          PC、移动、微信等多渠道联合推广
        </div>
      </div>
    </div>

    <div style="clear: both"></div>
  </div>

  <div class="middle2">
    <div class="small_title">
      加盟流程
    </div>
    <div class="icons">
        <div class="icon">
          <div class="image">
            <%= image_tag 'dwz/haoche_stat/promation/join_us/cailiao.gif' ,class: 'image_1'%>
          </div>
          <div class="text">
            1、准备资质材料
          </div>
          <div style="clear: both"></div>
        </div>

      <div class="icon">
        <div class="image">
          <%= image_tag 'dwz/haoche_stat/promation/join_us/xieyi.gif' ,class: 'image_1'%>
        </div>
        <div class="text">
          2、签署正式协议
        </div>
        <div style="clear: both"></div>
      </div>

      <div class="icon">
        <div class="image">
          <%= image_tag 'dwz/haoche_stat/promation/join_us/shuangshou.gif' ,class: 'image_1'%>
        </div>
        <div class="text">
          3、签署正式协议
        </div>
        <div style="clear: both"></div>
      </div>

      <div class="icon">
        <div class="image">
          <%= image_tag 'dwz/haoche_stat/promation/join_us/xiaoren.gif' ,class: 'image_1'%>
        </div>
        <div class="text">
          4、分配专属渠道
        </div>
        <div style="clear: both"></div>
      </div>
      <div style="clear: both"></div>
    </div>

    <div class="small_title">
      联系方式
    </div>
    <div class="tel">
      <div class="phone">电话： <span style="color: #ff3f3f">13127512465&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18628309352</span></div>
      <div class="mail">邮箱：<span style="color: #ff3f3f">Market@haoche001.com</span></div>
      <div style="clear: both"></div>
    </div>
  </div>

