<table class="table_content">

  <tr class="title">
    <th style="width: 28%"></th>
    <th style="width: 20%">产品说明</th>
    <th style="width: 20%">业务卖点</th>
    <th style="width: 17%">建议客群</th>
    <th style="width: 15%">结算单价</th>
  </tr>

  <tr>
    <td><%= image_tag 'dwz/haoche_stat/promation/product_list/bijia.gif' %></td>
    <td>按平台核实的有效名单数量结算。</td>
    <td>无需销售成功，只要属于新增名单，且在保单到期日前三个月内即可。</td>
    <td>全体车主</td>
    <td><span class="big-red">15</span>元/条</td>
  </tr>

  <tr>
    <td><%= image_tag 'dwz/haoche_stat/promation/product_list/yangche.gif' %></td>
    <td>按实际达成的上门服务数量结算。</td>
    <td>分两档产品：
      上门更换空调滤芯，9.9元含材料及人工费用；
      上门保养，机油、机滤等按京东价格结算，人工费用99元。
    </td>
    <td>上海、苏州、成都等地区车主；
      可用与车主建立联系，与车险结合销售。
    </td>
    <td> <span class="big-red">5</span>元/单
      9.9元产品
      <span class="big-red">15</span>元/单
      99元产品
    </td>
  </tr>


  <tr>
    <td><%= image_tag 'dwz/haoche_stat/promation/product_list/xianzhi.gif' %>
    </td>
    <td>按成功安装的车载硬件数量结算。</td>
    <td>由平台承担全部潜在车辆损失责任，车主放心收取高额租金；车载硬件由平台人员上门安装服务。
    </td>
    <td>北京、上海、深圳地区车主；
      可尝试与贷款结合销售，为客户提供还贷手段。
    </td>
    <td> <span class="big-red">100</span>元/车</td>
  </tr>


  <tr>
    <td><%= image_tag 'dwz/haoche_stat/promation/product_list/maiche.gif' %></td>
    <td>按检测或过户交易车辆数量结算。
    </td>
    <td>引导有卖车意愿的客户体验免费检测和报价；
      全程不收取客户任何费用，价格满意再出售，客户利益可以最大化。
    </td>
    <td>全国28个城市车主；
      可针对车龄3年以上客户及各类线上卖车客户
    </td>
    <td><span class="big-red">40</span>元/车
      按检测结算
      <span class="big-red">100</span>元/车
      按过户结算</td>
  </tr>


  <tr>
    <td><%= image_tag 'dwz/haoche_stat/promation/product_list/jiankang.gif' %></td>
    <td>按签单保费规模结算。</td>
    <td>个人必备补充医疗保障，报销医保不保的住院费用对无医保个人可报销80%；
      还可报销不属医保范围的进口药品享高额住院津贴
    </td>
    <td>30天-55周岁全国客户</td>
    <td><span class="jijiangfabu">即将上线</span></td>
  </tr>
</table>